* {
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.container {
  margin: auto;
  width: 50%;
  font-size: 25px;
}

button {
  font-size: 30px;

}

li {
  list-style-type: none;
}

.hide {
  display: none;
}